.App{
    margin: 0%;
    height: 700px;
    background: url(https://www.wallpapertip.com/wmimgs/25-251975_storm-wallpaper-weather.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    color: seashell;
}
.Buttons{
    display: flex;
    justify-content: space-evenly;
    background: rgba(17, 17, 17, 0.623);
    padding: 1%;
}
.Buttonss{
    display: flex;
    justify-content: center;
}
.DatosVista{
    margin: 2%;
    color: rgba(247, 239, 239, 0.897);
    border: none;
    background: rgba(17, 17, 17, 0.74);
    border-radius: 1rem;
}
.vista{
    margin: 2%;
    text-align: center;
}
.visto{
    width: 96%;
}
.agregar{
    margin: 0%;
    border: 2px solid rgba(209, 203, 203, 0.692);
    background: rgba(17, 17, 17, 0.616);
    padding: 4% ;
    text-align: center;
}
.dataso{
    padding: 2%;
    background: rgba(37, 37, 37, 0.842);
    border-radius: 1rem;
    color: rgb(222, 224, 230);
}
@media (max-Width: 780px ){
    .App{
        margin: 0%;
        width: 110%;
        height: 700px;
        background: url(https://mobilehd.blob.core.windows.net/main/2015/11/road-fog-mountain-car-sky.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        color: rgb(243, 240, 236);
    }
    .Buttons{
        display: flex;
        justify-content: space-evenly;
        background: rgba(17, 17, 17, 0.753);
        padding: 3% 0%;
    }
}